.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
}

.mainSwiper {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

.thumbSwiper {
    width: 80%;
    max-width: 600px;
}

.card {
    text-align: center;
    padding: 10px;
}

.card-image {
    width: 100%;
    border-radius: 8px;
}

.thumbnail-image {
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.input-section {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.quantity-input {
    padding: 8px;
    width: 60px;
}

.save-button,
.finish-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.swiper-button-next,
.swiper-button-prev {
    color: black;
}
