.bar-menu {
    flex: 0 0 auto;
    border-color: #f8f9fa;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%; /* Use full width by default */
    max-width: 400px; /* Limit the maximum width */
    margin: 0 auto; /* Center align for better aesthetics */
    padding: 0.5rem; /* Add some padding */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}
.bar-menu select {
    width: 100%; /* Make the select dropdown take full container width */
    padding: 0.5rem; /* Add padding inside the dropdown */
    border-radius: 5px; /* Optional: Rounded corners */
    border: 1px solid #ccc; /* Optional: Border styling */
    font-size: 1rem; /* Adjust font size */
}
.bar-menu option {
    width: 100%;
}
