.detail-modal-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-input {
    width: 80%;
    height: 50px;
    border: solid grey;
    border-radius: 10px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-input {
    width: 97%;
    margin: 7px 10px auto 10px;
    padding-left: 10px;
    border-radius: 10px;
    height: 35px;
    text-align: left;
    font-weight: bold;
}
.image-item {
    border-radius: 10px;
}
.dropdown {
    background-color: white;
    width: 100%;
}
.dropdown-item:hover {
    color: white;
    background-color: blue;
}
.detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}
.description-category {
    margin-top: 10px;
    min-height: 40px;
    background-color: rgb(64, 20, 184);
    color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-body-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.image-detail-container {
    margin-top: 10px;
}
.my-container {
    display: flex;
    justify-content: center;
    object-fit: contain;
    height: 100%;
}
/* .detail-container {
    width: 30%;
} */
.image-item {
    border-radius: 10px;
    max-height: 85%;
}
.detail-items {
    margin-top: 20px;

    text-align: center;
    padding: auto 2px auto 2px;
}
.choose-quantity {
    margin-top: 5%;
    display: flex;
    gap: 5px;
}
.minus-btn,
.plus-btn {
    width: 50px;
    text-align: center;
    background-color: rgb(64, 20, 184);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}
.quantity-input {
    width: 100px;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: black;
    padding-left: 15px;
    text-align: center;
    font-weight: bold;
}
.save-btn-div {
    margin-top: 10px;
}
.save-btn {
    background-color: rgb(64, 20, 184);
    padding: 10px;
    border-radius: 5px;
    width: 210px;
}
