body {
    background-color: #37392E;
}
.customer-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: #EEE5E5;
}
.status-select {
    color: #37392E;
}
.invoice-list-page {
    background-color: #37392E;
    width: 80%;
    color: #EEE5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.invoice-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    direction: ltr;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.item_table {
    width: 80%;
}
.filter-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.filter-button {
    border: 2px solid #28AFB0;
    padding: 5px;
    width: max-content;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.action-button {
    border: 2px solid #28AFB0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
